/* Background.css */

/* Background Gradient */
.animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(80, 24, 115), rgb(60, 0, 105)); /* Rich Purple Gradient */
    pointer-events: none;
  }
  
  